.board {
  margin: 15px;
  flex: 1 0 calc(33.333% - 30px);
  padding: 20px;
  border-radius: 10px;
  background: #eee;
  color: #000;
  position: relative;
  @media (max-width: 991.98px) {
    flex: 0 1 calc(50% - 30px);
  }
  @media (max-width: 767.98px) {
    flex: 1 1 auto;
    margin: 0;
  }
  // .board__body
  &__body {
    display: grid;
    row-gap: 15px;
    grid-template: auto auto 1fr / auto;
  }
  // .board__title
  &__title {
    font-size: 25px;
    letter-spacing: 3px;
  }
}
