// ================================================================================================================================================================================================================================================================================================================================
body {
  &._lock {
    overflow: hidden;
  }
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
}
._container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: $maxWidthContainer + 30px;
}
// ================================================================================================================================================================================================================================================================================================================================

// ================================================================================================================================================================================================================================================================================================================================
